<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/pp.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
    <title>MiniEats - Contact</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <img src="/images/logo.png" alt="MiniEats Logo">
    <h1>Contact Us</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/canteen">Canteen</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/addProducts">Add Products</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Contact Information</h2>
    <p>Email: info@minieats.com</p>
    <p>Phone: 123-456-7890</p>
  </main>
</body>
</html>
